@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

:root {
  --color-bg-primary: #fff;
  --color-bg-secondary: #2d28ff;
  --color-bg-tertiary: #c7c7c7;

  --color-font-primary: #fff;
  --color-font-secondary: #000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}

html,
body {
  background-color: var(--color-bg-primary);
}

a,
a:hover {
  text-decoration: none;
  color: unset;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.mt20 {
  margin-top: 20px;
}

.active-menu-item {
  font-weight: 700;
}
